extends layout
block content

    .container
        .main-content 
            h1 #{hobby.hobbyName}

            table.listing-table
                tr  
                    th Category
                    th Owner
                tr  
                    td #{hobby.category}
                    td #{hobby.owner}

            p Description: #{hobby.description}

            h2 Tags
            if tags.length
                ul
                    each tag in tags
                        li #{tag.name}
            else
                p No tags added yet.

    <a class="button" href="/listings">Back to Listings Page</a>
    <a class="button" href="/">Back to Home Page</a>
