extends layout

block content
  h1 Home

  a(href="/post_hobby") Post Hobby

  if hobbies && hobbies.length > 0
    ul
      each hobby in hobbies
        li
          strong #{hobby.hobbyName}
          p #{hobby.description}
          |  - #{hobby.category} - Posted by 
          a(href=`/user/${hobby.userID}`) #{hobby.owner}
  else
    p No hobbies found.
