extends layout.pug

block content
  h1 User Profile
  p Name: #{user.name}
  p Email: #{user.email}
  p Date of Birth: #{user.dob}
  p Gender: #{user.gender}
  p Location: #{user.location}
  p Travel Locations: #{user.travel_locations}