extends layout
block content

  .container
    .main-content 
      h1 All Users

      table.listing-table
        thead
          tr  
            th ID
            th Name
            th Hobbies
            th 
              form(action="/users" method="GET")
                select(name="tag" onchange="this.form.submit()")
                  option(value="") All Tags
                  each tag in tags
                    option(value=tag.name selected=(tag.name === selectedTag ? "selected" : undefined))= tag.name
        tbody
          each user in users
            tr  
              td #{user.userID}
              td 
                a(href='/user/' + user.userID) #{user.name}
              td #{user.hobbies || 'None'}
              td #{user.tag || 'None'}

      a.button(href="/") Back to Home Page
